# Ignore build files
/build/
*.o
*.asm
*.out
*.cm
*.obj
*.exe

# Ignore CMake temporary files
CMakeCache.txt
CMakeFiles/

# Ignore logs and system files
*.log
.DS_Store
Thumbs.db

.vscode/

# the git token, will be changed whenever required 
git_token
test
*.json